<template>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 align-items-start">
                <login-form/>
            </div>
        </div>
    </div>
</template>