<template>
    <div class="container">
        <h2 class="h2 mb-4">Sign In</h2>

        <form @submit.prevent="doLogIn(formObject)">
            <div class="form-group text-left">
                <label for="exampleInputEmail1">Email address</label>
                <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        v-model="formObject.email"
                >
                <small
                        id="emailHelp"
                        class="form-text text-muted"
                >We'll never share your email with anyone else.
                </small>
            </div>

            <div class="form-group text-left">
                <label for="exampleInputPassword1">Password</label>
                <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="Password"
                        v-model="formObject.password"
                >
            </div>

            <div class="form-group form-check text-left">
                <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                >
                <label
                        class="form-check-label"
                        for="exampleCheck1"
                >Check me out</label>
            </div>

            <button
                    type="submit"
                    class="btn btn-primary"
            >Submit
            </button>

            <div class="row mt-5">
                <div class="col">
                    <span class="form-text text-muted">
                        If you don't have an account yet, you can create one <router-link
                            to="/sign-up">here</router-link>
                    </span>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        data() {
            return {
                formObject: {},
            };
        },
        methods: {
            ...mapActions('user', [
                'doLogIn',
            ]),
        }
    };
</script>