<template>
    <div class="container">
        <h2 class="h2 mb-4">Sign up</h2>

        <form @submit.prevent="doSignUp(formObject)">
            <div class="form-group text-left">
                <label for="nameInput">Name</label>
                <input
                        type="text"
                        class="form-control"
                        id="nameInput"
                        placeholder="Enter your name"
                        v-model="formObject.name"
                >
            </div>

            <div class="form-group text-left">
                <label for="exampleInputEmail1">Email address</label>
                <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        v-model="formObject.email"
                >
            </div>

            <div class="form-group text-left">
                <label for="exampleInputPassword1">Password</label>
                <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="Password"
                        v-model="formObject.password"
                >
            </div>

            <button
                    type="submit"
                    class="btn btn-primary"
            >Submit
            </button>

            <template v-if="myUser.email">
                <h2>Hello {{ myUser.email }} !!!</h2>
                <pre>{{ myUser }}</pre>
            </template>
        </form>
    </div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'

    export default {
        data() {
            return {
                formObject: {},
            }
        },
        computed: {
            ...mapState('user', [
                'myUser',
            ])
        },
        methods: {
            ...mapActions('user', [
                'doSignUp',
            ])
        }
    }
</script>